:root {
  --border-color: #b4befe;
  --header-color:#cba6f7;
  --text-color: #f5c2e7;
  --text-background:#181825;
  --pearl-color: #65c4de;
  --scientist-color: #d2738a;
  --link-color: #f5c2e7;

  --secondary-color: #e4c9af;
}


a:link, a:visited {
  color: var(--header-color);
  text-decoration: underline;
}
a:hover {
  color: var(--header-color);
}
a:active {
  color: var(--header-color);
}


/* === GLOBAL BODY === */
body {
  font-family: ms ui gothic, sans-serif;
  font-size: 15px;
  color: #f5c2e7;
  text-shadow: 3.8709px 0 1px rgba(0,30,255,.5),
                -3.8709px 0 1px rgba(255,0,80,.3),
                0 0 3px;
  background: radial-gradient(circle at top left, #cba6f720 0%, transparent 60%),
              radial-gradient(circle at bottom right, #cba6f720 0%, transparent 60%),
              linear-gradient(to bottom right, #282a36, #1f1f2b, #282a36);
  background-attachment: fixed;
  padding: 10px;
  overflow: auto;
  position: relative;
  top: 0; left: 0; right: 0; bottom: 0;
  cursor: none;
  animation: none;
}

#custom-cursor {
  position: fixed;
  width: 32px;          
  height: 32px;
  pointer-events: none; 
  z-index: 9999;
  background-image: url('../assets/neskaya8.gif');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%); 
  opacity: 0;
  transition: opacity 0.05s linear;
}


/* === CRT EFFECTS === */
.crt::before {
  content: " ";
  position: fixed;
  display: block;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%),
              linear-gradient(90deg, rgba(255,0,0,0.06),
                                   rgba(0,255,0,0.02),
                                   rgba(0,0,255,0.06));
  background-size: 100% 2px, 3px 100%;
  z-index: 2;
  pointer-events: none;
  transform: translateZ(0);
}



.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(18,16,16,0.1);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  animation: none;
  transform: translateZ(0);
}

/* Forces gpu acceleration maybe? */
.crt::before,
.crt::after {
  contain: layout style paint;
  will-change: opacity;
}

body.fx::before,
body.fx::after {
  animation: flicker 0.15s infinite;
}

/* === CONTAINER === */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1.8fr 0.2fr;
  grid-template-areas:
    "bar bar bar . . bunny-button"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "footer footer footer footer footer footer";
  width: 1000px;
  height: 860px;
  margin: auto;
  position: relative;
  z-index: 1;
  
}

/* === BAR === */
.bar {
  grid-area: bar;
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  padding: 10px;
  text-align: right;
  box-shadow: 0 0 4px #cba6f740 inset;
  background-color: #1f1f2b;
  color: var(--border-color);
  font-weight: bold;
}

/* === HEADER === */
.header {
  grid-area: header;
  border: 1px solid var(--border-color);
  border-right: none;
  box-shadow: 0 0 4px #cba6f740 inset;
  background-color: #1f1f2b;
  display: flex;
  align-items: flex-end
  
}

/* === SITE TITLE === */
.gametitle {
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  color: var(--header-color);
}

/* === BOX NEXT TO HEADER === */
.box {
  grid-area: box;
  border: 1px solid var(--border-color);
  border-radius: 0 20px 0 0;
  padding: 10px;
  background-color: #1f1f2b;
  box-shadow: 0 0 4px #b4befe40 inset;
  color: var(--header-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-content {
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  color: var(--header-color);
  justify-self: center;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.5fr;

}
.box-content h2 {
  position:relative;
  top:15px;
}

.box-content .pixel-pearl {
  position: relative;
  bottom:15px;
}

.pixel-pearl img {
  height: 160px;        
  width: auto;         
  display: block;
  image-rendering: pixelated;

}

.pixel-pearl {
  height: 100%;         
  display: flex;
  align-items: center;
}

/* === MAIN AREA === */
.main {
  display: grid;
  grid-template-columns: 0.4fr 1.5fr 1.5fr;
  grid-template-rows: 1fr 0.5fr 2fr 2fr 2fr;
  grid-template-areas:
    "navigation box box"
    "navigation box box"
    "content content content"
    "content content content"
    "content content content";
  grid-area: main;
}

.bunny-button {
  grid-area: bunny-button;
  width: 128px;         
  height: 128px;
  display: inline-block; 
  align-items: center;
  justify-content: start;
  pointer-events: auto;
  cursor: pointer;     
  position: absolute;
  z-index: 20;
}

.bunny-button img {
  width: 100%;          
  height: auto;
  display: block;
}

/* === NAVIGATION === */
.navigation {
  grid-area: navigation;
  border: 1px solid var(--border-color);
  border-right: none;
  background-color: #1f1f2b;
  box-shadow: 0 0 4px #b4befe40 inset;
  overflow: hidden;

}

/* === NAV TITLE === */
.title {
  padding: 10px;
  text-align: center;
  color: var(--header-color);
  font-weight: bold;
  font-size:15px;
}

/* === NAV BUTTONS === */
.button {
  width: 150px;
  padding: 10px 10px 10px 20px;
  border-top: 1px solid var(--border-color);
  border-bottom: none;
  background-color: #282a36;
  box-shadow: 0 1px 2px #1f1f2b inset;
  color: var(--header-color);
}

.button:hover a {
  text-shadow:
    3px 2px rgba(246, 0, 153, 0.7),
   -3px -2px rgba(15, 210, 255, 0.7),
    0px 0px rgba(255, 210, 0, 0.9);
}

/* === NAV INTRO === */
.intro {
  padding: 10px;
  color: var(--header-color);
}

/* === CONTENT AREA === */
.content {
  grid-area: content;
  border: 1px solid var(--border-color);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #1f1f2b;
  box-shadow: 0 0 4px #b4befe40 inset;
  padding: 10px;
  overflow: auto;
  color: #f5c2e7;
}

/* === MAKE SCROLLBAR INVISIBLE === */
.content::-webkit-scrollbar {
  display: none;
}

.content {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

/* === BOXES INSIDE CONTENT === */

.text-box {
  display: grid;
  grid-template-areas:
  " . text-header . . ."
  ". text text text ."
  ". text text text .";
  grid-template-columns: 100px 1fr 2fr 1fr 100px;
  grid-template-rows: auto 1fr 1fr;
  margin: auto;
  padding: 20px;
  position: relative;
  background-color: #1f1f2b;
  border-radius: 20px;
  color: var(--border-color);
}

.text-header {
  grid-area: text-header;
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  padding: 10px;
  font-size: 17px;
  font-weight:bold;
  color: var(--header-color);
  text-align: center;
  box-shadow: 0 0 4px #cba6f740 inset;
  background-color: #34354a;
}

.text {
  font-size: 15px;
  line-height: 1.6;
  padding: 20px;
  background-color: #2d2f42;
  border: 1px solid var(--border-color);
  border-radius: 0 10px 10px 10px;
  box-shadow: 0 0 4px #b4befe40 inset;
  color: var(--text-color);
}

.text-wrapper {
  grid-area: text;
  display: flex;
  flex-direction: column;
}

.text img {
  float: left;
  margin-right: 10px;
}

/* === FOOTER === */
.footer {
  grid-area: footer;
  border: 1px solid var(--border-color);
  border-top: none;
  border-radius: 0 0 20px 20px;
  padding: 10px;
  text-align: center;
  background-color: #1f1f2b;
  color: var(--border-color);
  box-shadow: 0 0 4px #b4befe40 inset;
  font-weight: bold;

}


#blossom-container {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.blossom-toggle {
  cursor: pointer;
}

.blossom {
  position: absolute;
  transform: translateY(-50px);
  font-size: 15px;
  opacity: 0.8;
  animation: fall linear forwards;
  will-change: transform;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
  }
}

/* === CRT ANIMATIONS === */
@keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
}





/* === TEXT SHADOW FLICKERING MAKE CPU GO BRRRRRR === */

/* body.fx {
  animation: textShadow 1.6s infinite; 
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389px 0 1px rgba(0,30,255,.5),
                 -0.4389px 0 1px rgba(255,0,80,.3),
                 0 0 3px;
  }
  20% {
    text-shadow: 3.4794px 0 1px rgba(0,30,255,.5),
                 -3.4794px 0 1px rgba(255,0,80,.3),
                 0 0 3px;
  }
  40% {
    text-shadow: 3.8709px 0 1px rgba(0,30,255,.5),
                 -3.8709px 0 1px rgba(255,0,80,.3),
                 0 0 3px;
  }
  60% {
    text-shadow: 2.2022px 0 1px rgba(0,30,255,.5),
                 -2.2022px 0 1px rgba(255,0,80,.3),
                 0 0 3px;
  }
  80% {
    text-shadow: 0.0833px 0 1px rgba(0,30,255,.5),
                 -0.0833px 0 1px rgba(255,0,80,.3),
                 0 0 3px;
  }
  100% {
    text-shadow: 2.6209px 0 1px rgba(0,30,255,.5),
                 -2.6209px 0 1px rgba(255,0,80,.3),
                 0 0 3px;
  }
} */

